-
	var carsArr = [
		{img: 'img/cars/car1.png', price: '€40.00', name: 'Skoda Rapid `18'}
	];
section.cars
	each car in carsArr
		.cars__car-card
			img.car-card__img(src=car.img alt=car.name title=car.name)
			.card-card__details
				p.details__price= car.price
				p.details__car-name= car.name
				ul.details__list
					li.details__item
						img.details__img(src="img/details-icons/snowflake.png")
					li.details__item
						img.details__img(src="img/details-icons/thermometr.png")
					li.details__item
						img.details__img(src="img/details-icons/gasoline.png")
						p.details__status 2
				a.details__link(href="#") book now

