-
	var carsArr = [
		{img: 'img/cars/car1.png', price: '€40.00', name: 'Skoda Rapid `18', srcx1:'img/cars/retina/car_skoda.png', id: 'skoda'},
		{img: 'img/cars/car2.png', price: '€40.00', name: 'hyundai accent `18', srcx1: 'img/cars/retina/car_accent.png', id: 'hyundai'}
	];

section.cars
	each car in carsArr
		.cars__car-card--bg
			if (car.id == "skoda")
				svg.car-card__background(id="Слой_2_1_" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 427")
					path(fill="#48a653" d="M0 390v37l542.9-103.3 69.6 22.7L1366 203v-73z")
					path(fill="#cb3340" d="M0 260v130l546.8-104.1 65.7 21.5L1366 164V0z")
			else if (car.id == "hyundai")
				svg.car-card__background(id="Слой_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 427")
					path(fill="#cb3440" d="M521.4 160.8l-66.3-21.7L0 225.7V390l1366-260V0z")
					path(fill="#49a652" d="M1366 167L0 427v-37l1366-260z")
			.cars__car-card
				picture
					if (car.srcx1)
						source(media="(min-width: 1921px)" srcset=car.srcx1)
					img.car-card__img(src=car.img alt=car.name title=car.name)
				.card-card__details
					.details__price--wrapper
						span.details__price= car.price
						ul.details__list
							li.details__item
								img.details__img.details__img--snow(src="img/details-icons/snowflake.png")
							li.details__item
								img.details__img.details__img--term(src="img/details-icons/thermometr.png")
							li.details__item
								img.details__img.details__img--gas(src="img/details-icons/gasoline.png")
								p.details__status 2
					p.details__car-name(class=`details__car-name--${car.id}`)= car.name
					p.details__book-now book now
					adress.details__contact-us
						a.contact-us__call-link(href="tel:+375293231616")
							svg.contact-us__call-btn(id="Слой_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150.4 54")
								title Call to us
								path(d="M123.6 54H26.8C12 54 0 42 0 27.2v-.4C0 12 12 0 26.8 0h96.8c14.8 0 26.8 12 26.8 26.8v.4c0 14.8-12 26.8-26.8 26.8z" fill="#00aeef")
								path(class="st1" d="M28 43.4c-9 0-16.3-7.3-16.3-16.3S19 10.8 28 10.8s16.3 7.3 16.3 16.3S37 43.4 28 43.4zm0-30.1c-7.6 0-13.8 6.2-13.8 13.8S20.4 40.9 28 40.9c7.6 0 13.8-6.2 13.8-13.8S35.6 13.3 28 13.3z")
								path(class="st1" d="M32.3 35.1c.5.1 1.8-.5 2.1-.8.5-.4 1.5-1.2 1.6-1.9.1-.8-.9-1.5-1.4-2-.6-.6-1.4-1.8-2.2-1.8-.8-.1-1.5.9-2 1.4-.9.8-1.4.3-2.2-.4-.7-.6-1.4-1.3-2.1-2-.5-.5-1.6-1.5-1.6-2.2 0-.7 1.2-1.4 1.6-2 .6-.9.1-1.5-.5-2.1-.7-.7-1.4-1.5-2.1-2.1-.9-.6-1.6.2-2.2.8-2.7 2.6-.2 6.7 1.7 9.1 1.1 1.4 2.4 2.6 3.8 3.6 1.7 1.2 3.3 2 5.5 2.4zm31.6 4.6c-1.1-1.6-1.6-3.8-1.6-6.6V21.6c0-2.9.5-5.1 1.6-6.7 1.1-1.6 3-2.3 5.7-2.3 2.5 0 4.2.7 5.3 2.1s1.6 3.4 1.6 6.1v1.7h-2.6v-1.7c0-1.4-.1-2.5-.3-3.4s-.6-1.5-1.2-2-1.5-.7-2.7-.7c-1.3 0-2.2.3-2.9.8-.7.5-1.1 1.2-1.4 2.2-.2.9-.4 2.1-.4 3.5v12.3c0 2.2.3 3.9 1 4.9.7 1 1.9 1.5 3.6 1.5 1.7 0 2.8-.5 3.4-1.6.6-1 .9-2.6.9-4.7v-1.9h2.6v1.7c0 2.8-.5 4.9-1.5 6.4S72.2 42 69.7 42c-2.8.1-4.7-.7-5.8-2.3zm21.3-26.8h2.9l6.1 28.9h-2.7L90.1 34h-6.9l-1.5 7.7h-2.6l6.1-28.8zm4.6 19.2l-3.1-15.6-3.1 15.6h6.2zm7.9-19.2h2.7v26.8h8.2v2H97.7V12.9zm13.6 0h2.7v26.8h8.2v2h-10.9V12.9z")
						a.contact-us__text-link(href="whatsapp://send?phone=375293231616")
							svg.contact-us__text-btn(id="Слой_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150.4 54")
								title Write to us
								path(d="M123.6 54H26.8C12 54 0 42 0 27.2v-.4C0 12 12 0 26.8 0h96.8c14.8 0 26.8 12 26.8 26.8v.4c0 14.8-12 26.8-26.8 26.8z" fill="#009444")
								path(class="st2" d="M66 15h-5.8v-2.1h14.2V15h-5.7v26.8H66V15zm10.7-2.1h10.4V15h-7.7v10.8h6.3v2h-6.3v11.9h7.8v2H76.7V12.9zm18.4 13.8L89 12.9h2.5l5.2 11.5 5-11.5h2.6L97.9 27l6.6 14.7h-2.6l-5.5-12.2-4.8 12.2H89l6.1-15zM110.5 15h-5.8v-2.1h14.2V15h-5.7v26.8h-2.7V15z")
								path(class="st2" d="M38.7 16.2c-2.8-2.8-6.6-4.4-10.6-4.4-8.2 0-15 6.7-15 15 0 2.6.7 5.2 2 7.5L13 42l7.9-2.1c2.2 1.2 4.6 1.8 7.1 1.8 8.2 0 15-6.7 15-15 .1-3.9-1.5-7.7-4.3-10.5zm-10.6 23c-2.2 0-4.4-.6-6.3-1.7l-.5-.3-4.7 1.2 1.3-4.6-.3-.5c-1.2-2-1.9-4.3-1.9-6.6 0-6.9 5.6-12.4 12.4-12.4 3.3 0 6.4 1.3 8.8 3.6 2.3 2.3 3.6 5.5 3.6 8.8 0 6.9-5.6 12.5-12.4 12.5zm6.8-9.3c-.4-.2-2.2-1.1-2.6-1.2-.3-.1-.6-.2-.8.2-.2.4-1 1.2-1.2 1.5-.2.2-.4.3-.8.1-.4-.2-1.6-.6-3-1.9-1.1-1-1.9-2.2-2.1-2.6s0-.6.2-.8c.2-.2.4-.4.6-.7.2-.2.2-.4.4-.6.1-.2.1-.5 0-.7s-.8-2-1.2-2.8c-.3-.7-.6-.6-.8-.6h-.7c-.2 0-.7.1-1 .5s-1.3 1.3-1.3 3.1 1.3 3.6 1.5 3.9c.2.2 2.6 4 6.4 5.6.9.4 1.6.6 2.1.8.9.3 1.7.2 2.4.1s2.2-.9 2.5-1.8.3-1.6.2-1.8c-.2 0-.4-.1-.8-.3z" id="WA_Logo")