-
	var carsArr = [
		{img: 'img/cars/basis/car1.png', price: '€40.00', name: 'Skoda Rapid `18', srcx3:'img/cars/car1.png'},
		{img: 'img/cars/basis/car2.png', price: '€40.00', name: 'hyundai accent', srcx1: 'img/cars/accent_425_1x.png', srcx2: 'img/cars/accent_850_2x.png', srcx3: 'img/cars/accent_630_1.5x.png'}
	];
section.cars
	each car in carsArr
		.cars__car-card
			picture
				//- if (car.srcx1 !! car.srcx2 !! car.srcx3)
				if (car.srcx2)
					source(media="(min-width: 1921px)" srcset=car.srcx2)
				if (car.srcx3)
					source(media="(min-width: 1441px)" srcset=car.srcx3)
				if (car.srcx1)
					source(media="(min-width: 465px)" srcset=car.srcx1)
				img.car-card__img(src=car.img alt=car.name title=car.name)
				//- else
				//- 	img.car-card__img(src=car.img alt=car.name title=car.name)
			.card-card__details
				p.details__price= car.price
				p.details__car-name= car.name
				ul.details__list
					li.details__item
						img.details__img(src="img/details-icons/snowflake.png")
					li.details__item
						img.details__img(src="img/details-icons/thermometr.png")
					li.details__item
						img.details__img(src="img/details-icons/gasoline.png")
						p.details__status 2
				a.details__link(href="#") book now

